html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

h1 {
    position: absolute;
    top: -10%;
    margin-left: 8%;
    padding: 0;
    font-size: 50pt;
}

#description {
    position: absolute;
    top: 35%;
    height: 19%;
    width: 50%;
    padding: 0;
    margin: 0;
    font-size: 16pt;
    background-color: #F6DFB5;
    border: 2px solid #F6DFB5;
    border-radius: 10px 10px 10px 10px ;
}

#left-part {
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: -1;
    background-color: #EA8068;
    height: 100%;
    width: 50%;
}

#right-part {
    position: absolute;
    margin: 0;
    padding: 0;
    z-index: -1;
    margin-left: 50%;
    background-color: #EE856A;
    height: 100%;
    width: 50%;
}

.welcome {
    padding: 0;
    margin: 0;
    width: 100%;
}

.logo {
    border-radius: 50%;
    height: 70%;
}

.middle-part {
    position: absolute;
    left: 35%;
    top: 20%;
    height: 50%;
    width: 100%;
}

#usage {
    position: absolute;
    left: -0.3%;
    margin-top: 30%;
    height: 100%;
    width: 100%;
    background-color: #F6DFB5;
    border: 2px solid #F6DFB5;
    border-radius: 0 0 10px 10px;
    text-decoration-color: #EA8068;
    color: #EA8068;
    padding: 0;
    margin: 0;
    text-decoration: underline;
    cursor: pointer;
    transition: 0.2;
}

#usage:hover {
    text-decoration-color: #EE856A;
    color: #EE856A;
    transform: font-size scale(1.1);
    font-weight: bold;
}

#usage-block {
    position: absolute;
    left: -0.3%;
    padding: 0;
    margin: 8% 0 0 0;
    height: auto;
    width: 100%;
    background-color: #F6DFB5;
    border: 2px solid #F6DFB5;
    border-radius: 0 0 10px 10px;
}
